.background-color-green {
  background-color: green;
}

.background-color-orange {
  background-color: orange;
}

.background-color-red {
  background-color: red;
}

.color-white {
  color: white;
}

.pill {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 65px;
  margin: 4px 2px;
  border-radius: 16px;
}